.mineee {
  z-index: 999;
  position: sticky;
  background: white;
  border-bottom: 2px solid #e7e7e7 !important;
  box-shadow: 0px 0px 0px red !important;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}
.backbutton {
  width: 20px;
}
.col2 {
  margin-right: 10px;
  font-size: 18px;
}
.col2 p {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Open Sans", serif;
  color: #005528;
  font-weight: 600;
}
.col3 {
  font-size: 20px;
  color: #005528;
}
.signup_steps_row {
  padding: 0px 15px 50px;
}
.signup_steps {
  background: #00552d1f;
  border-radius: 5px;
  box-shadow: 0px 2px 10px #cdcdcd;
  margin-top: 34px;
}
.signup_steps h2 {
  margin-top: 0px;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #00552b;
  text-transform: uppercase;
}
.signup_steps h3 {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #000;
}
.signup_steps h4 {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
  background: green;
  width: 34%;
  color: white;
  height: 36px;
  border-radius: 20px;
}
.form_box {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form_input_box input {
  border-bottom: 1px solid #00552d !important;
  border-radius: 0px;
  font-size: 15px;
  padding: 5px 5px 10px 0px;
  background: #e0eae6;
  border: none;
  color: #000;
  font-weight: 600 !important;
}
.form_input_box select {
  border-bottom: 1px solid #00552d !important;
  border-radius: 0px;
  font-size: 14px;
  padding: 5px 5px 5px 0px;
  background: #e0eae6;
  border: none;
  color: #000;
  font-weight: 600 !important;
}
.form_input_box input::placeholder {
  color: #9f9a9a;
}
.form-control:focus {
  box-shadow: none !important;
  border: none !important;
}
.form_input_box {
  margin-bottom: 5px;
}
.form_input_box label {
  font-size: 16px;
  font-weight: 600 !important;
  color: #00552d;
}
.contain-bank {
  padding: 23px;
  background: #e0eae6;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 9px 2px #cdcdcd;
}
.banking {
  width: 90px;
}
.img-bank {
  text-align: center;
}
.content-bank {
  margin-top: 36px;
}
.container {
  padding: 0px 16px;
}


// Start bottom css for header section 
.row.header_row {
  .my_common_header {
    padding: 5px 25px 12px 25px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ededed;

    .common_header {
      text-align: left;
      padding: 0px !important;

      .back_arrow_div {
        background: #00552b;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: 0px 2px 5px #cdcdcd;

        i {
          color: #fff;
          font-size: 18px;
        }
      }
    }

    .upload_product_heading {
      h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        text-wrap: nowrap;
      }
    }

    .check_right {
      text-align: right;

      i {
        font-size: 20px;
        color: #005528;
      }
    }
  }
}

.zero_padding {
  padding: 0px;
}
.my_common_header{
  margin-top: 10px;
}

// End bottom css for header section 