<ion-header
  class="custom-header"
  [translucent]="false">

  <div class="header-container">

    <button
      type="button"
      class="back-btn"
      (click)="goBack()"
      aria-label="Go back">

      <i
        class="fa fa-chevron-left"
        aria-hidden="true">
      </i>

    </button>


    <h1 class="header-title">
      Reset Password
    </h1>


    <div class="header-right-placeholder"></div>

  </div>

</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <div class="welcome_main">

    <div class="content_welcome">

      <!-- Main Lock Visual -->
      <div class="reset_icon_box">

        <img
          src="../../assets/welcome/lock.svg"
          class="otplogo"
          alt="Password security"
          loading="eager">

      </div>


      <!-- Heading -->
      <p class="signup">
        Create New Password
      </p>


      <!-- Description -->
      <p class="review-text">
        Set a new password for your GoGreen Rider account.
        Make sure both passwords match before continuing.
      </p>


      <div class="input_width">

        <!-- New Password -->
        <div class="maillabel">

          <label for="password">
            New Password
          </label>

        </div>


        <div
          class="input-container"
          [class.input-error]="isPasswordInvalid">

          <div class="label">

            <img
              src="../../assets/welcome/lock.svg"
              alt="Lock"
              loading="eager">

          </div>


          <input
            id="password"
            name="password"
            type="password"
            class="input-field"
            placeholder="Enter new password"
            [(ngModel)]="password"
            (input)="clearError('password')"
            autocomplete="new-password"
            required>

        </div>


        <p
          *ngIf="isPasswordInvalid"
          class="error-message">

          {{ passwordErrorMessage }}

        </p>


        <!-- Confirm Password -->
        <div class="maillabel confirm_label">

          <label for="confirmPassword">
            Confirm Password
          </label>

        </div>


        <div
          class="input-container"
          [class.input-error]="isConfirmPasswordInvalid">

          <div class="label">

            <img
              src="../../assets/welcome/lock.svg"
              alt="Lock"
              loading="eager">

          </div>


          <input
            id="confirmPassword"
            name="confirmPassword"
            type="password"
            class="input-field"
            placeholder="Confirm new password"
            [(ngModel)]="new_password"
            (input)="clearError('confirmPassword')"
            autocomplete="new-password"
            required>

        </div>


        <p
          *ngIf="isConfirmPasswordInvalid"
          class="error-message">

          {{ confirmPasswordErrorMessage }}

        </p>

      </div>


      <!-- API / General Error -->
      <div
        *ngIf="generalError"
        class="general_error_box">

        <p class="error-message general_error">
          {{ generalError }}
        </p>

      </div>


      <!-- Continue -->
      <button
        type="button"
        (click)="onResetPassword()"
        class="ok-button"
        [disabled]="loading">

        <ng-container
          *ngIf="!loading; else loadingTemplate">

          Reset Password

        </ng-container>


        <ng-template #loadingTemplate>

          <ion-spinner
            name="crescent"
            class="button-spinner">
          </ion-spinner>

          <span class="loading_text">
            Updating...
          </span>

        </ng-template>

      </button>


      <!-- Security Note -->
      <div class="security_note">

        <ion-icon name="shield-checkmark-outline"></ion-icon>

        <span>
          Your account information is securely protected
        </span>

      </div>

    </div>

  </div>

</ion-content>