<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="header">
        <div (click)="goBack()" class="col1">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div class="col2">
          <p>Reset Password</p>
        </div>
        <div class="col2"></div>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="content_welcome">
    <div class="input_width">

      <!-- New Password Field -->
      <div class="maillabel">
        <label for="password">New Password</label>
      </div>
      <div class="input-container">
        <div class="label">
          <img src="../../assets/welcome/lock.svg" alt="lock icon" />
        </div>
        <input
          id="password"
          name="password"
          type="password"
          class="input-field"
          placeholder="New Password"
          [(ngModel)]="password"
          required
        />
      </div>

      <!-- Confirm Password Field -->
      <div class="maillabel">
        <label for="confirmPassword">Confirm Password</label>
      </div>
      <div class="input-container">
        <div class="label">
          <img src="../../assets/welcome/lock.svg" alt="lock icon" />
        </div>
        <input
          id="confirmPassword"
          name="confirmPassword"
          type="password"
          class="input-field"
          placeholder="Confirm Password"
          [(ngModel)]="new_password"
          required
        />
      </div>
    </div>
      <button (click)="onResetPassword()" class="ok-button" [disabled]="loading">
        <ng-container *ngIf="!loading; else loadingTemplate">
          Continue
        </ng-container>
        <ng-template #loadingTemplate>
          <ion-spinner name="crescent" style="width: 20px; height: 20px;"></ion-spinner>
        </ng-template>
      </button>
  </div>
</ion-content>