
<ion-header [translucent]="false" class="custom-header">
  <div class="header-container">
    <button class="back-btn" (click)="goBack()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
    <h1 class="header-title">Change Password</h1>
    <button class="save-btn-header" (click)="onChangePassword()">
      <i class="fa fa-check" aria-hidden="true"></i>
    </button>
  </div>
</ion-header>

<ion-content class="ioncontent">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <div class="container body_container">
    <div class="profile-card">
      <div class="form-container">
        
        <div class="form-group">
          <label for="previous_password">Previous Password</label>
          <div class="psw-input-group">
            <input [type]="isPrevPasswordVisible ? 'text' : 'password'" [(ngModel)]="previous_password" id="previous_password" name="previous_password" class="form-control" placeholder="Enter Previous Password">
            <button class="eye-btn" (click)="togglePrevPasswordVisibility()">
              <i class="fa" [ngClass]="isPrevPasswordVisible ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <div class="form-group">
          <label for="new_password">New Password</label>
          <div class="psw-input-group">
            <input [type]="isNewPasswordVisible ? 'text' : 'password'" [(ngModel)]="password" id="new_password" name="password" class="form-control" placeholder="Enter New Password">
            <button class="eye-btn" (click)="toggleNewPasswordVisibility()">
              <i class="fa" [ngClass]="isNewPasswordVisible ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <div class="form-group">
          <label for="confirm_password">Confirm Password</label>
          <div class="psw-input-group">
            <input [type]="isConfirmPasswordVisible ? 'text' : 'password'" [(ngModel)]="confirm_password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm Your Password">
            <button class="eye-btn" (click)="toggleConfirmPasswordVisibility()">
              <i class="fa" [ngClass]="isConfirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>


