<ion-content class="ioncontent container">
  <div class="container">

    <div class="create_account">
      <img src="../../assets/welcome/create_account.svg" class="order_in_seconds" alt="order_in_seconds" title="order_in_seconds">
    </div>

    <div class="field_row_div">
    <div class="fields row">
     
      <label for="name">Your Name</label><br>
      <input class="input" type="text" id="name" placeholder="Enter Your Name">
    </div>

    <div class="fields row">
     
      <label for="lastname">Your Last Name</label><br>
      <input class="input" type="text" id="name" placeholder="Enter Your Last Name">
    </div>


    <div class="fields row">
     
      <label for="email">Your Email</label><br>
      <input class="input" type="email" id="name" placeholder="Enter Your Email">
    </div>


    <div class="fields row">
     
      <label for="storename">Store Name</label><br>
      <input class="input" type="text" id="name" placeholder="Enter Your Store Name">
    </div>

    <div class="fields row">
     
      <label for="storeadrress">Your Store Address</label><br>
      <input class="input" type="text" id="name" placeholder="Enter Your Store Address">
    </div>

    <div class="fields row">
     
      <label for="sincode">Your Sin Code</label><br>
      <input class="input" type="text" id="name" placeholder="Enter Sin Code">
    </div>
    <div class="fields row">
    <label for="sincode">Country Status</label><br>
    <select id="sincode" class="input">
      <option value="" disabled selected hidden>Passport Number</option>
      <option value="code1">Code 1</option>
      <option value="code2">Code 2</option>
      <option value="code3">Code 3</option>
    </select>
  </div>



  <div class="fields row">
    
    <label for="sincode"></label><br>
    <label class="upload-box">
        <input type="file" id="fileInput">
        <span class="plus-icon">+</span>
        
    </label>
    
    <button class="update-btn">Update You Document</button>
  </div>
  <div class="login_welcome d_flex justify_content_center">
    <a class="bg_gogreen text_white text_center" href="../otp">Submit</a>
  </div>


  </div>

  </div>
</ion-content>



