<ion-header class="ion-no-border bg_white">

  <div class="container my_common_header">

    <ion-row>

      <ion-col
        size="12"
        class="common_header">

        <div
          class="back_arrow_div"
          (click)="goBack()">

          <i
            class="fa fa-chevron-left"
            aria-hidden="true">
          </i>

        </div>

      </ion-col>

    </ion-row>

  </div>

</ion-header>


<ion-content [fullscreen]="true" class="ioncontent">

  <div class="container">

    <ion-row class="signup_steps_row">

      <ion-col size="12">

        <div class="signup_steps">

          <h2 class="text-center">
            Sign Up
          </h2>


          <!-- Stepper -->
          <div class="step_counts">

            <div class="stepper">

              <div class="step active">
                <div class="circle">
                  1
                </div>
              </div>

              <div class="step active">
                <div class="circle">
                  2
                </div>
              </div>

              <div class="step active">
                <div class="circle">
                  3
                </div>
              </div>

              <div class="step">
                <div class="circle">
                  4
                </div>
              </div>

            </div>

          </div>


          <div class="form_box">

            <h3>
              Driver Details :
            </h3>


            <!-- Driver License Number -->
            <div class="form_input_box">

              <label for="drivers_licenseNumber">
                Driver’s License Number
              </label>

              <input
                type="text"
                [(ngModel)]="drivers_licenseNumber"
                (input)="clearFieldError('licenseNumber')"
                [ngClass]="{
                  'input-error': isDrivers_licenseNumberInvalid
                }"
                id="drivers_licenseNumber"
                name="drivers_licenseNumber"
                class="form-control"
                placeholder="Enter License Number"
                maxlength="30"
                autocomplete="off">

              <div
                *ngIf="isDrivers_licenseNumberInvalid"
                class="error-message mt-1">

                {{ driversLicenseErrorMessage }}

              </div>

            </div>


            <!-- License Expiry Date -->
            <div class="form_input_box">

              <label for="licenseExpiryDate">
                License Expiry Date
              </label>

              <input
                type="date"
                [(ngModel)]="licenseExpiryDate"
                (change)="onExpiryDateChange('license')"
                [ngClass]="{
                  'input-error': isLicenseExpiryDateInvalid
                }"
                id="licenseExpiryDate"
                name="licenseExpiryDate"
                class="form-control"
                [min]="minFutureDate">

              <div
                *ngIf="isLicenseExpiryDateInvalid"
                class="error-message mt-1">

                {{ licenseExpiryDateErrorMessage }}

              </div>

            </div>


            <!-- License Image -->
            <div class="form_input_box">

              <label for="licence_Image">
                License Image
              </label>

              <input
                type="file"
                (change)="onFileSelected($event, 'license')"
                [ngClass]="{
                  'input-error': isLicenceImageInvalid
                }"
                id="licence_Image"
                name="licence_Image"
                class="form-control"
                accept="image/jpeg,image/png,image/webp">

              <div
                *ngIf="isLicenceImageInvalid"
                class="error-message mt-1">

                {{ licenceImageErrorMessage }}

              </div>

            </div>


            <!-- Vehicle Details -->
            <h3>
              Vehicle Details :
            </h3>


            <!-- Vehicle Owner Name -->
            <div class="form_input_box">

              <label for="vehicelOwnerName">
                Vehicle Owner Name
              </label>

              <input
                type="text"
                [(ngModel)]="vehicelOwnerName"
                (input)="clearFieldError('ownerName')"
                [ngClass]="{
                  'input-error': isVehicelOwnerNameInvalid
                }"
                id="vehicelOwnerName"
                name="vehicelOwnerName"
                class="form-control"
                placeholder="Enter Owner Name"
                maxlength="100"
                autocomplete="name">

              <div
                *ngIf="isVehicelOwnerNameInvalid"
                class="error-message mt-1">

                {{ vehicleOwnerNameErrorMessage }}

              </div>

            </div>


            <!-- Vehicle Registration Number -->
            <div class="form_input_box">

              <label for="vehicelRegistrationNumber">
                Vehicle Registration Number
              </label>

              <input
                type="text"
                [(ngModel)]="vehicelRegistrationNumber"
                (input)="onRegistrationNumberInput($event)"
                [ngClass]="{
                  'input-error': isVehicelRegistrationNumberInvalid
                }"
                id="vehicelRegistrationNumber"
                name="vehicelRegistrationNumber"
                class="form-control"
                placeholder="Enter Registration Number"
                maxlength="25"
                autocomplete="off">

              <div
                *ngIf="isVehicelRegistrationNumberInvalid"
                class="error-message mt-1">

                {{ vehicleRegistrationErrorMessage }}

              </div>

            </div>


            <!-- Vehicle Type -->
            <div class="form_input_box">

              <label for="vehicelType">
                Vehicle Type
              </label>

              <input
                type="text"
                [(ngModel)]="vehicelType"
                (input)="clearFieldError('vehicleType')"
                [ngClass]="{
                  'input-error': isVehicelTypeInvalid
                }"
                id="vehicelType"
                name="vehicelType"
                class="form-control"
                placeholder="Enter Vehicle Type (Car, Bike, Truck)"
                maxlength="50"
                autocomplete="off">

              <div
                *ngIf="isVehicelTypeInvalid"
                class="error-message mt-1">

                {{ vehicleTypeErrorMessage }}

              </div>

            </div>


            <!-- Registration Expiry Date -->
            <div class="form_input_box">

              <label for="registrationExpiryDate">
                Registration Expiry Date
              </label>

              <input
                type="date"
                [(ngModel)]="registrationExpiryDate"
                (change)="onExpiryDateChange('registration')"
                [ngClass]="{
                  'input-error': isRegistrationExpiryDateInvalid
                }"
                id="registrationExpiryDate"
                name="registrationExpiryDate"
                class="form-control"
                [min]="minFutureDate">

              <div
                *ngIf="isRegistrationExpiryDateInvalid"
                class="error-message mt-1">

                {{ registrationExpiryDateErrorMessage }}

              </div>

            </div>


            <!-- Registration Document -->
            <div class="form_input_box">

              <label for="registrationDocument">
                Registration Document
              </label>

              <input
                type="file"
                (change)="onFileSelected($event, 'registration')"
                [ngClass]="{
                  'input-error': isRegistrationDocumentInvalid
                }"
                id="registrationDocument"
                name="registrationDocument"
                class="form-control"
                accept="image/jpeg,image/png,image/webp,application/pdf">

              <div
                *ngIf="isRegistrationDocumentInvalid"
                class="error-message mt-1">

                {{ registrationDocumentErrorMessage }}

              </div>

            </div>

          </div>


          <!-- General Error -->
          <div>

            <p
              *ngIf="generalError"
              class="error-message">

              {{ generalError }}

            </p>

          </div>

        </div>

      </ion-col>

    </ion-row>

  </div>

</ion-content>


<ion-footer class="ion-no-border">

  <div class="container">

    <ion-row>

      <ion-col
        size="12"
        class="common_footer">

        <div class="button_group">

          <button
            type="button"
            class="theme_button"
            (click)="NextStep()">

            Continue

          </button>

        </div>

      </ion-col>

    </ion-row>

  </div>

</ion-footer>