<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">

      <div class="col1">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
      <div class="col2">
        <p>OTP</p>
      </div>
      <div class="col2">
        <i class="fa-solid fa-question"></i>
      </div>

    </div>
  </ion-toolbar>
</ion-header>-->

<ion-header class="custom-header" [translucent]="false">
  <div class="header-container">
    <button class="back-btn" (click)="goBack()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
    <h1 class="header-title">OTP</h1>
    <div class="header-right-placeholder"></div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="logo">
    <img src="../../assets/otp/OTP_logo.svg" class="otplogo" alt="" title="">
  </div>
  <div class="curved-bg">
    <div class="content">
      <p class="verification">Verification <span class="code">Code</span></p>
      <p class="sendcode">Please enter the verification code<br>
        sent to your registeredemail.</p>
    </div>

    <!-- <div class="otpnumber">

            <div class="otp-container">
             <input type="text" maxlength="1" class="otp-input">
              <input type="text" maxlength="1" class="otp-input">
              <input type="text" maxlength="1" class="otp-input">
              <input type="text" maxlength="1" class="otp-input">
            </div>
      </div> -->
    <div class="otpnumber">
      <div class="otp-container">
        <input type="tel" maxlength="1" class="otp-input" (input)="moveToNext($event)"
          (keydown)="handleBackspace($event)">
        <input type="tel" maxlength="1" class="otp-input" (input)="moveToNext($event)"
          (keydown)="handleBackspace($event)">
        <input type="tel" maxlength="1" class="otp-input" (input)="moveToNext($event)"
          (keydown)="handleBackspace($event)">
        <input type="tel" maxlength="1" class="otp-input" (input)="moveToNext($event)"
          (keydown)="handleBackspace($event)">
      </div>
    </div>

    <div class="texttimer">
      <p>Time {{timerDisplay}}</p>
      <!--<p><a class="" href="javascript:void(0)" (click)="resendOtp()">Resend OTP</a></p>-->
    </div>

    <div class="col-12 mt-2 ps-2">
      <p *ngIf="generalError" class="error-message customeErrorMsg d-block text-left col-12" style="text-align: start;">
        {{ generalError }}</p>
    </div>
    <div class="login_welcome d_flex justify_content_center">
      <a class="bg_gogreen text_center" href="javascript:void(0)" (click)="verifyOtp()">Continue</a>
    </div>



  </div>
</ion-content>