<ion-tab-bar slot="bottom" class="custom-tab-bar">
  <button
    class="tab-button"
    (click)="navigateToHome()"
    [class.active]="isActive(['/home'])">
    <ion-icon [name]="isActive(['/home']) ? 'home-sharp' : 'home-outline'" class="tab-icon"></ion-icon>
    <span class="tabtext">Home</span>
  </button>

  <button
    class="tab-button"
    (click)="navigateToNotification()"
    [class.active]="isActive(['/notification'])">
    <ion-icon [name]="isActive(['/notification']) ? 'notifications-sharp' : 'notifications-outline'" class="tab-icon"></ion-icon>
    <span class="tabtext">Notification</span>
  </button>

  <button
    class="tab-button"
    (click)="navigateTomyaccount()"
    [class.active]="isActive(['/setting'])">
    <ion-icon [name]="isActive(['/setting']) ? 'settings-sharp' : 'settings-outline'" class="tab-icon"></ion-icon>
    <span class="tabtext">Setting</span>
  </button>
</ion-tab-bar>