<ion-header [translucent]="false" class="custom-header">
  <div class="header-container">
    <button class="back-btn" (click)="goBack()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
    <h1 class="header-title">Rider Documentation</h1>
    <button class="save-btn-header" (click)="saveDocumentation()">
      <i class="fa fa-check" aria-hidden="true"></i>
    </button>
  </div>
</ion-header>

<ion-content class="ioncontent">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <div class="container body_container">
    <div class="profile-card">
      <div class="form-container">

        <!-- 2. Dynamic Uploaded Documents List -->
        <div class="uploaded-docs-section" *ngIf="uploadedDocs.length > 0">
          <label class="section-subtitle">Uploaded Files</label>
          <div class="docs-grid">
            <div class="doc-preview-card" *ngFor="let document of uploadedDocs">
              <div class="image-preview-container">
                <img [src]="document.preview" alt="Document" class="preview-image"
                  (error)="handleImageFallback($event)" />

                <div class="image-actions">
                  <label [attr.for]="'upload_doc_' + document.id" class="edit-icon">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </label>
                  <button type="button" class="remove-icon" (click)="deleteUploadedDocument(document.id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>

                <input type="file" [id]="'upload_doc_' + document.id" accept=".jpg,.jpeg,.png,.pdf"
                  (change)="updateExistingDocument($event, document.id)" style="display: none;" />
              </div>
              <div *ngIf="document.name" class="file-name">
                <i class="fa fa-paperclip" aria-hidden="true"></i>
                <span>{{ document.name }}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- 3. Driving Licence Section -->
        <div class="form-group">
          <label>Driving Licence</label>
          <div class="document-upload">
            <div class="image-preview-container">
              <img [src]="drivingLicencePreview" alt="Driving Licence" class="preview-image"
                (error)="onImageError($event)" />

              <div class="image-actions">
                <label for="drivingLicence" class="edit-icon">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </label>
                <button *ngIf="drivingLicenceName" type="button" class="remove-icon" (click)="removeDrivingLicence()">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>

              <input type="file" id="drivingLicence" name="drivingLicence" accept=".jpg,.jpeg,.png,.pdf"
                (change)="onDrivingLicenceChange($event)" style="display: none;" />
            </div>
            <div *ngIf="drivingLicenceName" class="file-name">
              <i class="fa fa-paperclip" aria-hidden="true"></i>
              <span>{{ drivingLicenceName }}</span>
            </div>
          </div>
        </div>

        <!-- 4. Registration Document Section -->
        <div class="form-group">
          <label>Registration Document</label>
          <div class="document-upload">
            <div class="image-preview-container">
              <img [src]="regDocumentPreview" alt="Registration Document" class="preview-image"
                (error)="onImageError($event)" />

              <div class="image-actions">
                <label for="regDocument" class="edit-icon">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </label>
                <button *ngIf="regDocumentName" type="button" class="remove-icon" (click)="removeRegDocument()">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>

              <input type="file" id="regDocument" name="regDocument" accept=".jpg,.jpeg,.png,.pdf"
                (change)="onRegDocumentChange($event)" style="display: none;" />
            </div>
            <div *ngIf="regDocumentName" class="file-name">
              <i class="fa fa-paperclip" aria-hidden="true"></i>
              <span>{{ regDocumentName }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>