<ion-content>
  <div class="container zero_padding">
    <div class="row header_row">
      <div class="my_common_header">
        <ion-col size="2" class="common_header">
          <div (click)="goBack()" class="back_arrow_div">
            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
          </div>
        </ion-col>
        <ion-col size="8" class="upload_product_heading">
          <h2>Rider Status</h2>
        </ion-col>
        <ion-col size="2" class="check_right">
          <i class="fa fa-check" aria-hidden="true" (click)="saveRiderStatus()"></i>
        </ion-col>
      </div>
    </div>
  </div>

  <div class="content-shop-status">
    <div class="main-shop">
      <div class="form_input_box">
        <div class="ttt">
          <div>
            <label for="shopStatusToggle">Rider Status</label>
          </div>
          <div>
          <ion-toggle 
            [(ngModel)]="shopStatus" 
            id="shopStatusToggle" 
            color="success">
          </ion-toggle>
          </div>
        </div>
        <p class="status-display">
          Current Status:
          <strong [style.color]="shopStatus ? 'green' : 'red'">
            {{ shopStatus ? 'Online' : 'Offline' }}
          </strong>
        </p>
      </div>

      <div class="form_input_box">
        <label for="openTime">Start Delivery Time</label>
        <input type="time" [(ngModel)]="openTime" id="openTime" class="form-control" />
      </div>

      <div class="form_input_box">
        <label for="closeTime">End Delivery Time</label>
        <input type="time" [(ngModel)]="closeTime" id="closeTime" class="form-control" />
      </div>
    </div>
  </div>
</ion-content>

<app-footer-tabs></app-footer-tabs>
