<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <div class="welcome_main h_100vh bg_gogreen">

    <!-- Decorative Ingredients -->
    <div>
      <img
        src="../../assets/welcome/welcome_ingredients.svg"
        class="welcome_ingredients"
        alt="Welcome ingredients"
        loading="eager"
        fetchpriority="high"
        decoding="async">
    </div>


    <!-- White Bottom Area -->
    <div class="welcome_second">

      <!-- Delivery Man -->
      <div class="delivery_man_main">
        <img
          src="../../assets/welcome/delivery_man.svg"
          class="delivery_man"
          alt="Delivery man"
          loading="eager"
          fetchpriority="high"
          decoding="async">
      </div>


      <div class="content_welcome">

        <!-- Order Message -->
        <div class="order_in_seconds_main text_center">
          <img
            src="../../assets/welcome/order_in_seconds.svg"
            class="order_in_seconds"
            alt="Order in seconds delivered in minutes"
            loading="eager"
            fetchpriority="high"
            decoding="async">
        </div>


        <!-- Login Button -->
        <div class="login_welcome d_flex justify_content_center">
          <a
            class="bg_gogreen text_white text_center"
            href="javascript:void(0)"
            (click)="loginPage()">
            Log in
          </a>
        </div>


        <!-- Register -->
        <div class="sign_up_welcome d_flex justify_content_center mt-1">
          <a class="text_center text_grey mt-0">
            Don't have an account?
            <span
              class="text_gogreen"
              (click)="signUpPage()">
              Register Now
            </span>
          </a>
        </div>


        <!-- Footer -->
        <div class="welcome_footer">
          <p class="text_grey">
            By logging in or registering, you agree to our <br>

            <a
              class="text_gogreen text_dec_none"
              href="../terms-condition">
              Terms of service
            </a>

            and

            <a
              class="text_gogreen text_dec_none"
              href="../privacy">
              Privacy policy
            </a>.
          </p>
        </div>

      </div>

    </div>

  </div>

</ion-content>