<ion-header
  class="custom-header"
  [translucent]="false">

  <div class="header-container">

    <button
      type="button"
      class="back-btn"
      (click)="goBack()"
      aria-label="Go back">

      <i
        class="fa fa-chevron-left"
        aria-hidden="true">
      </i>

    </button>


    <h1 class="header-title">
      Forgot Password
    </h1>


    <div class="header-right-placeholder"></div>

  </div>

</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <div class="welcome_main">

    <div class="content_welcome">


      <!-- Logo -->
      <div class="delivery_man_main">

        <img
          src="../../assets/icon/logo_gogreen.svg"
          class="otplogo"
          alt="GoGreen"
          loading="eager"
          fetchpriority="high"
          decoding="async">

      </div>


      <!-- Heading -->
      <h2 class="forgot_heading">
        Reset Your Password
      </h2>


      <!-- Description -->
      <p class="review-text">
        Enter your registered email address and we’ll send you a verification code to reset your password.
      </p>


      <!-- Email Label -->
      <label
        for="email"
        class="maillabel">

        Email Address

      </label>


      <!-- Email Input -->
      <div
        class="input-container"
        [class.input-error]="generalError && !email.trim()">

        <div class="label">

          <i
            class="fa fa-envelope"
            aria-hidden="true">
          </i>

        </div>


        <input
          id="email"
          name="email"
          type="email"
          [(ngModel)]="email"
          (input)="clearError()"
          class="input-field enteremail"
          placeholder="Enter your email"
          autocomplete="email"
          inputmode="email">

      </div>


      <!-- Continue Button -->
      <button
        type="button"
        (click)="sendOtp()"
        class="ok-button"
        [disabled]="loading">

        <ng-container
          *ngIf="!loading; else loadingTemplate">

          Continue

        </ng-container>


        <ng-template #loadingTemplate>

          <ion-spinner
            name="crescent"
            class="button-spinner">
          </ion-spinner>

        </ng-template>

      </button>


      <!-- Error -->
      <div class="col-12 mt-2 ps-2">

        <p
          *ngIf="generalError"
          class="error-message customeErrorMsg d-block text-left col-12">

          {{ generalError }}

        </p>

      </div>

    </div>

  </div>

</ion-content>