<ion-content [fullscreen]="true">
  <div class="header">
    <div (click)="goBack()" class="col1">
      <i class="fa-solid fa-arrow-left"></i>
    </div>

  </div>
  <div class="welcome_main">
    <div class="delivery_man_main">
      <img src="../../assets/home/forgot_password.svg" alt="Application Review" />
    </div>
    <div class="content_welcome">
      <img src="../../assets/home/forgot_password_second.svg" alt="Under Review" class="under-review-image" />
      <p class="review-text">
        Forgot your password? Just enter your registered<br>email address below, and we'll send you a secure link<br>to
        reset it and regain access to your account.
      </p>
      <div class="maillabel">
        <label for="" class="enteremail">Enter Your Email</label>
      </div>
      <div class="input-container">
        <div class="label">ID</div>
        <input [(ngModel)]="email" id="email" name="email" type="text" placeholder="Enter Username"
          class="input-field ng-untouched ng-pristine ng-valid" ng-reflect-name="email">
      </div>

      <button (click)="sendOtp()" class="ok-button" [disabled]="loading">
        <ng-container *ngIf="!loading; else loadingTemplate">
          Continue
        </ng-container>
        <ng-template #loadingTemplate>
          <ion-spinner name="crescent" style="width: 20px; height: 20px;"></ion-spinner>
        </ng-template>
      </button>
      <div class="col-12 mt-2 ps-2">
        <p *ngIf="generalError" class="error-message customeErrorMsg d-block text-left col-12"
          style="text-align: start;">{{ generalError }}</p>
      </div>
    </div>
  </div>
</ion-content>