<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <img src="../../assets/home/backbutton.svg"
           (click)="goBack()"
           class="back-btn"/>
    </ion-buttons>

    <ion-title>{{ customerName }}</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <div class="chat-container">
    <div class="messages" id="chatMessages">
      <div *ngFor="let msg of messages" [ngClass]="msg.sender_id == rider_id ? 'my-message' : 'their-message'"
        class="message-bubble">
        {{ msg.message }}
        <div class="time">{{ msg.sent_at | date:'shortTime' }}</div>
      </div>
    </div>

   
  </div>
</ion-content>
<ion-footer>
  <div class="chat-input-area">
      <input #chatInput type="text" placeholder="Type a message..." />

      <button (click)="sendMessage(chatInput.value); chatInput.value=''">
        Send
      </button>
    </div>
</ion-footer>